.battle-frame-image {
    height: 140px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.battle-card-frame {
    transform: rotate(270deg)  translate(-100px, 0px);
    width: 220px; /* switch width and height to maintain aspect ratio */
    height: 220px;
    z-index: 1;
    position: relative;
    max-width: 97%;
    left: 1.2%;
    top: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* ...other styles... */
}

.battle-frame-header,
.battle-frame-type-line {
 background: 
 linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), 
 url(https://image.ibb.co/jKByZn/tile_bg_1.jpg); 
 display: flex;
 margin-top: 0px;
 margin-left: 5px;
 margin-right: 5px;
 padding: 8px 0;
 justify-content: space-between;
 border-radius: 18px/40px;
 font-size: .5em;
 position: relative;
 height: 5px;
 align-items: center;
 width: 300px;
}


.battle-frame-image img {
    height: 155px;
 width: 300px;
    object-fit: cover;
}

.battle-frame-text-box {
 margin: 0 10px;
 height: 105px;
 width: 300px;
 background: #d3ded6;
 /* background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg); */
 display: flex;
 flex-direction: column;
 justify-content: space-around; 
 box-sizing: border-box;
 font-size: .4em;
 position: relative;
}

.battle-card-background {
 margin-top: 25px;
 height: 325px;
 width: 250px;
}