.saga-container {
    /* width: 95%;  Adjust as needed */
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.saga-frame-image {
    max-width: 96px;  
    height: auto;  
    background-color: #ccc;  /* Placeholder color, remove it when you add an image */
}

.saga-frame-image img {
    width: 100%;
    height: auto;
}


.saga-frame-text-box {
 width: 45%;  
 height: 270px;
 background: #d3ded6;
 /* background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg); */
 display: flex;
 flex-direction: column;
 justify-content: space-around; 
 box-sizing: border-box;
 font-size: .4em;
 position: relative;
}
 