.card-container {
 color: black;
 border: 1px solid black;
 width: 250px;
 height: 350px;
 padding: 3px;
 position: relative;
 justify-content: center;
 align-items: center;
 text-align: center;
 display:flex;
 border-radius: 6px;
 box-sizing: border-box;
 background: #171314;
 margin: 0;
}

.basic-card-background {
 height: 320px;
 width: 235px;
}

.card-background {
 margin: 12% 2% 15% 2%;
 border-radius: 6px;
 border-top-right-radius: 6px;
 border-bottom-left-radius: 8%;
 border-bottom-right-radius: 8%;
 background-color: #bbb;
 position: relative;
}

.card-frame {
 z-index: 1;
 position: relative;
 width: 100%; /* adjusted from 244px */
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 315px;
 margin-top: 5px;
}

.frame-header,
.frame-type-line {
    background: 
        linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), 
        url(https://image.ibb.co/jKByZn/tile_bg_1.jpg); 
    display: flex;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 93%; /* or whatever percentage or pixel value you prefer */
    padding: 8px 0;
    justify-content: space-between;
    border-radius: 18px/40px;
    font-size: clamp(0.3em, .2em, .5em);
    position: relative;
    height: 2px;
    align-items: center;
    border: 2px solid green;
}

.name,
.type {
 margin-left: 5px;
 font-weight: 600;
}

.oracle_text, .saga_text, .flavour-text {
    font-size: clamp(0.2em, .6em, .8em);
}

.frame-image {
    width: 91%; 
    height: 47%; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 2px solid green;
}

.frame-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
}

#mana-icon {
 font-size: 1.4em;
 background: #ADD3AC;
 border-radius: 50%;
 box-sizing: border-box;
 box-shadow: -0.05em 0.12em 0px 0 black;
 margin-right: 5px;
 height: 20px;
 align-self: center;
}

#set-icon {
 height: 9%;
 width: 6%;
 overflow: hidden;
 margin-right: 10px;
 align-self: center;
}

.frame-text-box {
 margin: 0px 10px;
 height: 125px;
 background: #d3ded6;
 display: flex;
 flex-direction: column;
 justify-content: space-around; 
 box-sizing: border-box;
 position: relative;
 border: 2px solid green;
 max-height: 125px; 
}
 
.flavour-text {
 font-style: italic;
 padding: 3px 0;
}

p {
 margin-bottom: 1px;
 margin-top: 0px;
}

.power-toughness {
    position: absolute;
    bottom: -12px; 
    right: -5px; 
    width: 35px; 
    height: 17px; 
    background-color: #ccc; 
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: clamp(0.9em, 1em, 2em);
    z-index: 1;
    border: 1px solid black;
    font-size: clamp(0.5em, .8em, 2em);
}

.defense {
    position: absolute;
    bottom: -1px; 
    right: 10px; 
    width: 35px; 
    height: 25px; 
    background-color: #ccc; 
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: clamp(0.5em, .8em, 2em);
    z-index: 1;
}

.planeswalker {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.planeswalker-cost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em; /* Adjust as needed */
}

.planeswalker-cost {
    position: absolute;
    font-size: 0.6em;  
    color: white;  
}

.planeswalker.highlight {
    background-color: rgba(186, 0, 0, 0.1); /* Adjust the rgba value as needed */
}