body {
  background-color: #222;
  color: #fff;
  font-family: 'Times New Roman', serif;
  text-align: center;
  padding-top: 10px;
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 55px;
  min-height: 100vh; 
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.header {
  font-size: 24px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  position: relative;
  width: 100%;
}

.header-text {
  flex-grow: 1;
  text-align: center;
}

.left-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  justify-content: center;
  margin-left: 35px;
}

.left-header-content p {
  font-size: 0.5em;      
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
}

.app-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
}

.form-button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.form-button:hover {
  background-color: #777;
}

.submit {
    background-color: blue;
    color: white;
    border: none;
}

.clear {
    background-color: red;
    color: white;
    border: none;
}

.submit:hover {
    background-color: darkblue;
}

.clear:hover {
    background-color: darkred;
}

.card-form-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  flex: 1; 
  padding: 20px; 
  box-sizing: border-box;
}

#card-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: center;
  gap: 5px; 
  margin: 0 -5px;
}

.card-box {
  display: flex;
  flex: 0 1 200px;
  flex-direction: column;
  align-items: center;
  margin: 15px 30px;
  max-width: 200px;
}

.card-name {
  font-size: 18px;
  font-weight: bold;
}

.card-image {
  max-width: 200px;
  margin-top: 10px;
}

.card-text {
  margin-top: 10px;
}

.card-rules {
  font-style: italic;
  margin-top: 10px;
}

.sidebar {
  width: 200px;
  flex: 0 0 200px;
  background-color: #1c1e22;
  color: #fff;
  padding: 20px;
  min-height: 100%; 
  box-sizing: border-box;
  border-radius: 8px;
  overflow-y: auto
}

.sidebar label,
.sidebar button,
.sidebar select,
.sidebar input[type=range],
.sidebar textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.sidebar button {
  background-color: #4CAF50; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #45a049; 
}

.sidebar input[type=range] {
  height: 10px; 
  border-radius: 5px;
  background: #ddd; 
  outline: none; 
}


.sidebar select {
  padding: 10px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  border: none; 
}


.sidebar textarea {
  padding: 10px;
  border-radius: 4px;
  background-color: #333; 
  color: #fff;
  border: none; 
}

@media (max-width: 787px) {
  .sidebar, .right-sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-around;
  }

  .left-header-content,
  .app-name,
  .logout-button {
    width: 100%;
    text-align: center; 
    margin: 10px 0;
  }


  .left-header-content {
    order: 1;
  }

  .app-name {
    position: static; 
    left: auto; 
    transform: none;
    order: 0;
  }

  .logout-button {
    order: 2;
  }
}

.advanced-engine-features {
  margin-top: 20px; 
  padding-top: 20px; 
  border-top: 1px solid #555; 
}

.advanced-engine-features .slider-container {
  margin-bottom: 20px; 
}

.form-buttons {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.patreon-img {
  opacity: 100;
  width: 100px;
  height: 50px;
}

.card {
  width: 320px;
  padding: 20px;
  background-color: #282c36;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
}

.patreon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.patreon-button:hover {
    background-color: transparent;
    box-shadow: none;
}

button:hover {
    background-color: #0d1b2a;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

.auth-container .card input[type="email"], 
.auth-container .card input[type="password"],
.auth-container .card input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #383e49;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
}

.auth-btn, .resend-btn {
  width: 100%;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-btn:hover, .resend-btn:hover {
  background-color: #45a049;
}

.resend-btn {
  width: 100px;
  margin-top: 30px;
}

.auth-error-message {
  color: #ff6b6b;
  text-align: center;
}

.requirements-container {
  margin-top: 20px;
  background-color: #383e49;
  padding: 10px;
  border-radius: 3px;
}

.requirements-header {
  text-align: center;
  margin-bottom: 10px;
}

.requirements-list {
  list-style-type: none;
  padding-left: 0;
}

.requirements-list li {
  margin-bottom: 5px;
}

.requirements-container {
    background-color: #333; 
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.requirements-container h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.requirements-container ul {
    list-style-type: none;
    padding: 0;
}

.requirements-container li {
    color: #aaa; 
    margin-bottom: 5px;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 1%;
  width: 240px;
}

.logout-button:hover {
  background-color: #da190b;
}

.right-bar {
  right: 0; 
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c36;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #383e49;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-btn:hover {
  background-color: #45a049;
}

.login-error-message {
  color: #ff6b6b;
  text-align: center;
}

.validated-input-container {
  position: relative;
}

.validation-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: #ff6b6b;
  font-size: 12px;
}

.error-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 350px;
    height: 200px;   
    padding: 20px;
    background-color: #2a2a2a;
    color: white;
    border-radius: 8px;
    z-index: 9999;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid #f44336;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.error-container p {
    margin-bottom: 0; 
    text-align: center; 
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
}


.error-container button {
    margin-top: auto;
    padding: 10px 15px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-container button:hover {
    background-color: #d32f2f;
}

button:disabled,
button:disabled:hover {
  background-color: #ccc; 
  color: #666;
  cursor: not-allowed; 
  border: 1px solid #999;
  box-shadow: none;
  transform: none;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  align-self: center;
}

.delete-button:hover {
  background-color: darkred;
}

.tooltip-icon {
  margin-right: 8px;
  cursor: help;
}

.loading-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 60vw;
  max-width: 400px;
  padding: 1rem;
  box-sizing: border-box;

  background-color: #121212; 
  border: 1px solid #2e2e2e;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  color: #30d5c8;
  text-align: center;
  font-family: 'Orbitron', sans-serif; 
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

@keyframes pulsate {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.loading-banner-text {
  animation: pulsate 1.5s infinite; /* Apply the animation to the text */
  font-size: 1.2rem;
  font-weight: 600;
}